<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AMS</title>
    <!-- Material Design Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;mdi/font@7.4.47/css/materialdesignicons.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/fontawesome-free/css/all.min.css">
    <!-- AdminLte-->
    <link href="~/Content/adminlte/adminlte.min.css" rel="stylesheet" />
    <!-- Overlay Scrollbars-->
    <link href="~/Content/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- DataTable-->
    <link href="~/Content/datatables/css/datatables.min.css" rel="stylesheet" />
    <!-- Select 2 -->
    <link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2/css/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.js"></script>

    @{
        //ViewBag.pathParent = Request.Url.GetLeftPart(UriPartial.Scheme) + Request.Url.Authority;
        ViewBag.pathParent = System.Configuration.ConfigurationManager.AppSettings.Get("PortalUrl");
    }
    @using BssCoreV2.Constant
</head>
<body class="control-sidebar-slide-open layout-navbar-fixed sidebar-mini layout-fixed">
    <input type="hidden" id="urlPath" value="@ViewBag.pathParent" />
    <input type="hidden" id="sessionId" value="@Session["role_id"].ToString()" />
    <input type="hidden" id="site" value="@Session["site"].ToString()" />
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
            @*<img class="animation__shake" src='~/Content/img/logo-mobile.png' alt="BssLogo" height="60" width="60" style="display: none;">*@
        </div>

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <ul class="navbar-nav ml-auto">

                @*<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>*@
                <li class="nav-item">
                    <a href="@ViewBag.pathParent/login" class="nav-link" role="button">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="" class="brand-link">
                <img src="~/Content/img/logo-mobile.png" alt="BSS Logo" class="brand-image img-lg" style="opacity: .8">
                @*<span class="brand-text font-weight-light">AdminLTE 3</span>*@
            </a>

            <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
                <div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px;"></div><div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div class="image">
                                    <img src="~/Content/img/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
                                </div>
                                <div class="info">
                                    <a href="#" class="d-block">Asset Management System</a>
                                </div>
                            </div>

                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                    @{
                                        foreach (var header in ITConstant.AmsMenuCode.DcAccessMenu.Where(x => x.Key == Session["role_id"].ToString()))
                                        {
                                            foreach (var headerVal in header.Value)
                                            {
                                                var checkHead = ITConstant.AmsMenuCode.DcSubMenu.Where(j => j.Key == headerVal);
                                                if (checkHead.Count() > 0)
                                                {
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="nav-icon fas @ITConstant.AmsMenuCode.DcIconMenu[headerVal]"></i>
                                                            <p>
                                                                @ITConstant.AmsMenuCode.DcMenu[headerVal]
                                                                <i class="fas fa-angle-left right"></i>
                                                            </p>
                                                        </a>
                                                        <ul class="nav nav-treeview">

                                                            @{
                                                                foreach (var sub in checkHead.Select(x => x.Value))
                                                                {
                                                                    foreach (var itemSub in sub)
                                                                    {
                                                                        var checkSub = ITConstant.AmsMenuCode.DcAccessSubMenu.Where(j => j.Key == Session["role_id"].ToString()).Select(i => i.Value);

                                                                        if (checkSub.Where(y => y.Contains(itemSub)).Count() > 0)
                                                                        {

                                                                            <li class="nav-item">
                                                                                <a href="@ViewBag.pathParent/@ITConstant.AmsMenuCode.DcUrlMenu[itemSub]" class="nav-link">
                                                                                    <i class="far fa-circle nav-icon"></i>
                                                                                    <p>
                                                                                        @ITConstant.AmsMenuCode.DcMenu[itemSub]
                                                                                        @*<span class="right badge badge-danger">New</span>*@
                                                                                    </p>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item">
                                                        <a href="@ViewBag.pathParent/@ITConstant.AmsMenuCode.DcUrlMenu[headerVal]" class="nav-link">
                                                            <i class="nav-icon fas @ITConstant.AmsMenuCode.DcIconMenu[headerVal]"></i>
                                                            <p>
                                                                @ITConstant.AmsMenuCode.DcMenu[headerVal]
                                                                @*<span class="right badge badge-danger">New</span>*@
                                                            </p>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                    <li class="nav-item menu-open">

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 28.9183%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div>
            </div>

        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Page</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Page</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>


    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>

    <!-- Moment -->
    <script src="~/Scripts/moment.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    @*<script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/jquery-ui.1.13.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/Scripts/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- chartjs -->
    <script src="~/Scripts/chart.js/Chart.min.js"></script>
    <!-- DataTable -->
    <script src="~/Scripts/datatables/datatables.min.js"></script>
    <!-- Select 2 -->
    <script src="~/Scripts/select2/js/select2.min.js"></script>
    <!-- eChart.js -->
    <script src="~/Scripts/echart.js/echarts.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.js"></script>
    <!-- Signature Pad -->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
