
@{
    ViewBag.Title = "Akses user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary collapsed-card" id="addAccess">
            <div class="card-header">
                <h3 class="card-title">Akses User</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i> Klik Disini
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form>
                    <input type="hidden" id="txtId" />
                    <input type="hidden" id="flagSave" />
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Nik</label>
                                <div class="row">
                                    <div class="col-md-8 col-xs-8">
                                        <input type="text" class="form-control" id="txtNik">
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        <button type="button" class="btn btn-success" id="btnSearch">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Nama</label>
                                <input type="text" class="form-control" id="txtNama" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Jabatan</label>
                                <input type="hidden" class="form-control" id="txtKodeJb" disabled>
                                <input type="text" class="form-control" id="txtJab" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Dept</label>
                                <input type="text" class="form-control" id="txtDept" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label>Site</label>
                                <select id="txtSite" class="form-control">
                                    <option value="">--PILIH SITE--</option>
                                    @foreach (var item in ViewBag.Site)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Akses</label>
                                <select class="form-control" id="ddAkses">
                                    <option value="">--PILIH--</option>
                                    @foreach (var item in ViewBag.Access)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label> Default Aplikasi</label>
                                <input type="hidden" class="form-control" id="txtAppCode" value="@BssCoreV2.Constant.ITConstant.AppItCode.AssetManagement" disabled>
                                <input type="text" class="form-control" id="txtAppName" value="Asset Management System" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-info" id="btnSave">Submit</button>
                <button type="button" class="btn btn-danger float-right" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data Akses</h3>&nbsp;&nbsp;
                <select id="ddDept">
                    <option value="">--FILTER PER DEPARTEMENT--</option>
                </select>&nbsp;&nbsp;
                @{
                    if (Session["role_id"].ToString() == BssCoreV2.Constant.ITConstant.AccessItCode.StafItHo)
                    {
                        <select id="ddSite">
                            <option value="">--FILTER PER SITE--</option>
                            @foreach (var item in ViewBag.Site)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    }
                }

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tblAuth" class="table table-responsive table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Action</th>
                            <th>Nik</th>
                            <th>Nama</th>
                            <th>Jabatan</th>
                            <th>Dept</th>
                            <th>Site</th>
                            <th>Akses</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<script src="~/Scripts/page/itsm.mauth.js"></script>